#main-header {
  padding-bottom: 25px;
}
#main-logo {
  width: 172px;
}
.imagenes {
  width: 100%;
}
.noespacio {
  padding: 0;
}
.titulo {
  color: #00aeef;
  font-family: 'Exo2Regular';
  font-size: 24px;
  text-transform: uppercase;
  padding: 10px 20px;
  margin: 0;
}
.subtitulo {
  color: #00aeef;
  font-family: 'Exo2Regular';
  font-size: 16px;
  padding: 10px 40px;
  margin: 0;
}
h2 {
  color: #00aeef;
  font-family: 'Exo2Regular';
  font-size: 16px;
  padding: 0 20px;
}
p {
  font-family: 'Exo2Light';
  color: #202020;
  font-size: 14px;
  padding: 0 20px;
}
.cuadros {
  background-color: #202020;
}
.cuadros ul {
  list-style-image: url("../img/bullet.png");
  color: #fff;
}
.cuadros ul li {
  font-family: 'Exo2Light';
  border-top: 1px solid #363636;
  padding: 5.5px;
  width: 90%;
}
.cuadros ul li a {
  text-decoration: none;
  color: #fff;
}
.cuadros ul li .activo {
  color: #00aeef;
}
.cuadros ul li:first-child {
  border-top: none;
}
.cuadros .sub {
  list-style-type: circle;
}
.cuadros .sub li {
  border: none;
}
.abajo {
  display: block;
  margin: auto;
}
strong {
  font-family: 'Exo2-SemiBold';
}
/*-----Menu navegacion-----*/
#main-menu {
  font-family: 'Exo2Light';
  margin-top: 30px;
  float: left;
  border-top: solid 1px #00aeef;
}
#main-menu a {
  color: #202020;
}
#main-menu a:hover {
  color: #00aeef;
}
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus,
#main-menu.nav-pills>li>a:hover {
  border-top: solid 3px #00aeef;
  margin-top: -3px;
  background: none;
  border-radius: 0px;
}
#main-menu.nav-pills>li.active>a,
#main-menu.nav-pills>li.active>a:hover,
#main-menu.nav-pills>li.active>a:focus {
  color: #00aeef;
}
#main-menu.nav .open>a,
#main-menu.nav .open>a:hover,
#main-menu.nav .open>a:focus {
  background: none;
}
.dropdown-menu {
  background-color: #fff;
}
#mobile-menu-button {
  float: right;
  width: 44px;
  margin: 20px 10px;
}
#mobile-main-menu {
  padding: 0;
  display: none;
  background-color: #202020;
}
#mobile-main-menu a {
  font-family: 'Exo2Light';
  display: block;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #eee;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
#mobile-main-menu li {
  margin: 0;
}
#mobile-main-menu a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #00aeef;
}
#footer {
  margin-top: 50px;
  border-top: 1px solid #b2b2b5;
  padding: 10px 0;
}
#footer p {
  color: #898989;
  font-size: 10px;
  font-family: 'Exo2Light';
  padding: 0;
}
#footer a {
  text-decoration: none;
  color: #898989;
}
/*-----Index-----*/
.banner {
  margin-bottom: 30px;
}
.ititulo {
  font-family: 'Exo2Light';
  font-size: 20px;
  line-height: 20px;
  text-align: right;
  text-transform: uppercase;
  color: #00aeef;
}
.ititulo span {
  color: #202020;
}
.descripcion {
  color: #202020;
  font-family: 'Exo2Regular';
  font-size: 15px;
  padding: 0;
  text-align: justify;
}
.titulos {
  color: #202020;
  font-family: 'Exo2Regular';
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.separador {
  border-top: 1px solid #dadada;
}
/*-----Qienes-----*/
.azul {
  background-image: url("../img/quienes-azul.jpg");
}
.azul p {
  font-family: 'Exo2Regular';
  font-size: 26px;
  color: #fff;
  text-align: center;
  padding-bottom: 29px;
  padding-top: 29px;
}
/*-----Que Hacemos-----*/
.que-foto {
  padding-top: 10px;
}
/*-----Contacto-----*/
.form-horizontal {
  font-family: 'Exo2Regular';
  padding: 20px;
}
.form-horizontal input {
  background-color: #f3f3f3;
}
.form-horizontal textarea {
  background-color: #f3f3f3;
}
.form-horizontal button {
  color: #00aeef;
  text-transform: uppercase;
  border: none;
  padding: 10px;
}
.form-horizontal button:hover {
  background-color: #fff;
}
/*-----Investigaciones-----*/
.gestion {
  background-image: url("../img/gestion-anti.jpg");
  background-repeat: no-repeat;
}
.seguridad {
  background-image: url("../img/seguridad.jpg");
  background-repeat: no-repeat;
}
.cibernetica {
  background-image: url("../img/cibernetica.jpg");
  background-repeat: no-repeat;
}
.investigaciones {
  background-image: url("../img/investigacion.jpg");
  background-repeat: no-repeat;
}
.empresarial {
  background-image: url("../img/empresarial.jpg");
  background-repeat: no-repeat;
}
.cuadro-azul {
  background-color: #00aeef;
  padding: 15px 0 15px 0;
}
.cuadro-azul .titulo {
  color: #fff;
  border-bottom: 1px solid #202020;
  padding: 5px 20px;
  margin-bottom: 10px;
}
.cuadro-azul .subtitulo {
  color: #202020;
  padding: 5px 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 23px;
}
.cuadro-azul .texto {
  color: #202020;
  font-size: 16px;
  font-family: 'Exo2Regular';
}
.cuadro-azul .blanco {
  color: #fff;
  font-size: 15px;
}
/*-----Fuentes-----*/
@font-face {
  font-family: 'Exo2Regular';
  src: url("../fonts/Exo2Regular.eot");
  src: url("../fonts/Exo2Regular.eot") format('embedded-opentype'), url("../fonts/Exo2Regular.woff2") format('woff2'), url("../fonts/Exo2Regular.woff") format('woff'), url("../fonts/Exo2Regular.ttf") format('truetype'), url("../fonts/Exo2Regular.svg#Exo2Regular") format('svg');
}
@font-face {
  font-family: 'Exo2Light';
  src: url("../fonts/Exo2Regular.eot");
  src: url("../fonts/Exo2Regular.eot") format('embedded-opentype'), url("../fonts/Exo2Regular.woff2") format('woff2'), url("../fonts/Exo2Regular.woff") format('woff'), url("../fonts/Exo2Regular.ttf") format('truetype'), url("../fonts/Exo2Regular.svg#Exo2Regular") format('svg');
}
@font-face {
  font-family: 'Exo2-SemiBold';
  src: url("../fonts/Exo2-SemiBold.eot");
  src: url("../fonts/Exo2-SemiBold.eot") format('embedded-opentype'), url("../fonts/Exo2-SemiBold.woff") format('woff'), url("../fonts/Exo2-SemiBold.ttf") format('truetype'), url("../fonts/Exo2-SemiBold.svg#Exo2-SemiBold") format('svg');
}
/*-----exepciones celular-----*/
@media (min-width: 640px) {
  .top {
    margin-top: 153px;
  }
  .top2 {
    margin-top: 340px;
  }
  .cuadro-azul {
    height: auto;
  }
}
@media (min-width: 900px) {
  .cuadro-azul {
    height: 164px;
  }
}
